In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset.csv')

In [3]:
df

     Sky Air Temp Humidity    Wind Water Forecast Enjoy
0  sunny     warm   normal  strong  warm     same   yes
1  sunny     warm     high  strong  warm     same   yes
2  rainy     cold     high  strong  warm   change    no
3  sunny     warm     high  strong  cool   change   yes

In [8]:
df.iloc[0]

Sky          sunny
Air Temp      warm
Humidity    normal
Wind        strong
Water         warm
Forecast      same
Enjoy          yes
Name: 0, dtype: object

In [12]:
cols = df.columns

In [21]:
cols

Index(['Sky', 'Air Temp', 'Humidity', 'Wind', 'Water', 'Forecast', 'Enjoy'], dtype='object')

In [37]:
h = list()
for i in range(len(cols)-1):
    h.append(None)

In [38]:
print(f"H0: {h}")
for i in range(len(df)):
    if df.iloc[i]['Enjoy'] == 'yes':
        for j in range(len(cols)-1):
            col = cols[j]
            if h[j] is None:
                h[j] = df.iloc[i][col]
            elif h[j] != df.iloc[i][col]:
                h[j] = '?'
    print(f"H{i+1}: {h}")

H0: [None, None, None, None, None, None]
H1: ['sunny', 'warm', 'normal', 'strong', 'warm', 'same']
H2: ['sunny', 'warm', '?', 'strong', 'warm', 'same']
H3: ['sunny', 'warm', '?', 'strong', 'warm', 'same']
H4: ['sunny', 'warm', '?', 'strong', '?', '?']

In [39]:
print("Specific Hypothesis: ", h)

Specific Hypothesis:  ['sunny', 'warm', '?', 'strong', '?', '?']